.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 99.5vh;
    position: absolute;
    z-index: -10;
//    .arrow{
//     position: absolute;
//     top: 40%;
//     font-size: 3rem;
//     color: #000;
//     z-index: 10;
//     cursor: pointer;
//     user-select: none;
//     border-radius:50%;
//     box-shadow: 0px 0px 15px 5px white;
//     background-color: white;
//    }
//    .leftArrow{
//     left:32px;
//    }
//    .rightArrow{
//     right:32px;
//     }
   .slide{
        position: absolute;
        z-index: -100;
        width: 100vw;
        opacity: 0;
        max-height: 93vh;
        height: 93vh;
    img{
        width: 100vw;
        max-height: 93vh;
        height: 93vh;
        padding-top:7vh;
        object-fit: cover;
        // overflow: hidden;
    }
   }
   .active{
        animation: fadeInOut 15s linear infinite forwards;
        opacity: 1;
   }
}
@keyframes fadeInOut{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}