$bright-green: #04c304;
$light-tan: #bcbcbc;
$black: #040404;
$brown-gray: #636363;
$dark-tan: #848484;
$dark-green: #046804;
$dark-gray: #2f2f2f;
$silver: #7c7c84;
$tan: #847c7c;
$gray: #3c3c44;


// FONTS
// font-family: 'Teko', sans-serif;
// font-family: 'Dancing Script', cursive;
