.galleryContainer{
    padding-top: 4em;
    min-height: 53.5vh;
    color: #636363;
    text-align: center;
    font-size: 2em;

    .gallerySort{
        display: flex;
        justify-content: space-evenly;
        
        .buttonSelect{
            cursor: pointer;
            h4{
                font-size: .8em;
            }
            i{
                font-size: .6em;
            }
        }
    }
    .galleryImg{

        .img{
            width: 100vw;
        }
    }
}