.galleryContainer{
    padding-top: 10rem;
    min-height: 53.5vh;
    color: #636363;
    text-align: center;
    font-size: 2em;
    button{
        height: 2em;

    }
    .galleryImg{

        .img{
            max-width: 100vw;
        }
    }
}