.homeContainer{
    width: 100vw;
    background-color: #ebebeb;
    .head{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .TWrapsImg{
            height: 10em;
            // margin-bottom: 1em;
            position: absolute;
            z-index: 10;
            top: 45%;
        }
        .headTitle{
            color: #ebebeb;
            font-family: 'Teko', sans-serif;
            font-weight: 700;
            text-shadow: 0px 0px 8px $black;
            font-size: 4em;
            // text-align: center;  
            position: absolute;
            z-index: 10;  
            top: 85%;
        }
        .titleButton{
            padding: .5em 1.2em;
            // margin:1em;
            background: #040404;
            color:#bcbcbc;
            font-size: 1.6em;
            cursor: pointer;
            border: 2px solid #3c3c44;
            border-radius: 5px;
            user-select: none;
            position: absolute;
            z-index: 10;
            top: 92%;
            &:hover{
                background: #04c304;
                color: #040404;
            }
        }
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        width: 100%;
        padding:3em 2em;
        background: #636363;
        box-sizing: border-box;
        color: #bcbcbc;
        .aboutTwraps{
            font-weight: 700;
            font-size: 2em;
            padding: .5em;
        }
        .aboutText{
            font-size: 1.4em;
            line-height: 1.4em;
        }
    }
}
@media(max-width: 800px){
    .homeContainer{
        
        .head{
            height: 100%;
            min-height: 60vh;
            .TWrapsImg{
                display: none;
            }
            .headTitle{
                top:60%;
            }
            .titleButton{
                top:75%;
            }
        }
        .about{
            
            .aboutTwraps{
                
            }
            .aboutText{
                
            }
        }
    }
}
@media(max-height: 560px){
    .homeContainer{
        
        .head{
            .TWrapsImg{
                height: 4em;
                margin-bottom: 1em;
            }
            .headTitle{
                font-size: 2.5em;
            }
            .titleButton{
                padding: .5em 1.2em;
                margin:1em;
                font-size: 1em;
            }
        }
        .about{
            
            .aboutTwraps{
                
            }
            .aboutText{
                
            }
        }
    }
}
@media(max-width: 540px){
    .homeContainer{
        
        .head{
            
            .TWrapsImg{
                height: 4em;
                margin-bottom: 1em;
            }
            .headTitle{
                font-size: 3em;
            }
            .titleButton{
                padding: .5em 1.2em;
                margin:1em;
                font-size: 1em;
            }
        }
        .about{
            
            .aboutTwraps{
                
            }
            .aboutText{
                
            }
        }
    }
}